.LandingPage {
  text-align: center;
}
.LandingPage__Input {

}

.FieldHasError {
  border: 1px solid red;
  border-radius: 10px;
  background-color: rgb(255, 189, 189);
}
.Alert {}
.Alert__Title{}
.Alert__Message {}
.Alert__BtnSection{

}